@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Playpen+Sans&family=Tomorrow:ital,wght@1,300&display=swap');

:root {
    --primary-color: #eaf6fe;
    --secondary-color: #3b7272;
    --accent1-color: #40514e;
    --accent2-color: #687EFF;
    --heading-font: 'DM Serif Display', serif;
    --paragraph-font: 'Playpen Sans', sans-serif;
    --nav-background-color: #20b2cc;
    --nav-link-color: #340670;
    --nav-hover-link-color: #90b6a1;
    --nav-hover-background-color: #174fa3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: var(--nav-background-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 10%;
    height: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

/* Main content styles */
body {
    background-color: var(--primary-color);
    line-height: 1.6;
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
}

h1 {
    text-align: center;
    color: var(--secondary-color);
    font-size: 3rem;
    margin: 50px 0;
}

.homepagediv {
    padding: 20px;
    width: 100%;
    height: 250px;
}

.homepagediv img {
    width: 100%;
    height: auto;
}

.homepagegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

h2 {
    color: var(--secondary-color);
    margin: 20px 0;
    text-align: center;
    font-size: 2rem;
}

h3 {
    color: var(--secondary-color);
    margin: 1rem 0;
    text-align: center;
}

.promotions {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 20px auto;
}

.imgpromotion {
    width: 100%;
    height: auto;
}

/* Button styles */
.btn {
    background: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    color: black;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

.btn:hover {
    background: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

/* Form styles */
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    cursor: pointer;
}

/* Footer styles */
