@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Playpen+Sans&family=Tomorrow:ital,wght@1,300&display=swap');
:root {
    --primary-color: #B6FFFA;
    --secondary-color: #98E4FF;
    --accent1-color: #80B3FF;
    --accent2-color: #687EFF;

    --heading-font: 'DM Serif Display';
    --paragraph-font: 'Playpen Sans';

    --nav-background-color: #20b2cc;
    --nav-link-color: #340670;
    --nav-hover-link-color: #90b6a1;
    --nav-hover-background-color: #174fa3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.logo {
    max-width: 10%;
    height: auto;
    justify-content: right;
}

.navegador nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navegador nav a:hover {
    background-color: #555;
}

/* Main content styles */
body {
    background-color: var(--primary-color);
    line-height: 1.6;
}
h1 {
    position:absolute;
    top: 10rem;
    right: 40%;
    color: var(--accent1-color);
    padding: 100px;
    font-family: var(--heading-font);
    text-align: center; 
}
article {
    position:absolute;
    margin: 20rem;
    height: auto;
    border: 1px;
    top: 4rem;
    padding: 2px;
    box-shadow: 0 0 30px;
    color: rgb(0, 162, 255);
}
article img{
    float: right;
    width: 250px;
}
p {
    text-align: justify;
    margin: 2rem;
    font-family: var(--paragraph-font);
}
h2 {
    margin: 2rem;
    font-family: var(--heading-font);
    text-align: center;
}

section >div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 20px;
}
/* Conatct as Page */

.section {
    padding: 20px;
}

form {
    max-width: 100%;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-top: 5px;
}

input[type="button"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}
.grid2{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
}
.contact{
    display: block;
}
section div .info{
    position: initial;
    top: 0rem;
    right: 0%;
    color: var(--accent1-color);
    padding: 40px;
    text-align: left;
    justify-self: left;
}
.form{
    display: flex;
}
img{
    display: inline-block;
    width: 350px;
}

/* Container to center content on the page */
.grid{
    display: grid;
    margin: 20px;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
}

.hero img {
    margin: 1rem;
    display: block;
    width: 100%;
    height: auto;
}
section > p .nightriver{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer nav img{
    width: 50px;
}
.sociallinks a {
    margin: 0 10px;
    justify-content: left;
}
/* Responsive styles */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr  ;
    }
}
